<h1> All Posts <span class="badge"><%= Post.all.length %></span></h1>

<% @posts.each do |post| %>
<div class="list-group">
  <table class = "table">
    <tr>
      <td rowspan = 2><%= image_tag post.image.url(:thumb) %></td>
      <td text-left>
        <h5>
         <%= link_to post.title, post_path(post), class: "list-group-item-heading list-group-item active" %>
        </h5>
        <p class="list-group-item-text"><%=truncate(post.body, length: 50)%></p>
      </td>
    </tr>
 </table>
  <p></p>

</div>
<%end%>

<div id="paginate">
  <%= will_paginate @posts%>
</div>
